In [ ]:
# LOOPS

In [ ]:
# Loops in python allow you to repeat a block of code multiple times. They are used when you need to perform repetitive tasks or iterate over swquences like lists, strings or ranges. Python provides 2 types of loop "FOR LOOP" and "WHILE LOOP"
names = ['avi', 'ravi', 'raj' , 'raju']
for name in names:
    print(name)

avi
ravi
raj
raju

In [ ]:
# The loop iterates over numvers from 0 to 4 (the upper bound in range() is  not included)
for d in range(10):
    print(d)

0
1
2
3
4
5
6
7
8
9

In [ ]:
for h in "dhruv":
    print(h)

d
h
r
u
v

In [ ]:
r = -10
while r < 10:
    print(r)
    if r==0:
        break
    r+=1

-10
-9
-8
-7
-6
-5
-4
-3
-2
-1
0

In [ ]:
r = -10
while r < 10:
    print(r)
    r += 3

-10
-7
-4
-1
2
5
8

In [ ]:
# Que 1 :- write a program to calculate the sum of all elements in a list using a for loop
a = [1,2,3,4,5,6,7,8,9]
sum = 0
for number in a:
    sum += number
sum

45

In [ ]:
# Que 2 :- Write a program to find the maximum number in a list using for loop python
def find_max_number(numbers):
    max_number = numbers[0]
    for number in numbers:
        if number > max_number:
            max_number = number
    return max_number

# Example usage:
my_list = [3, 5, 7, 2, 8, 9, 1]
print("The maximum number in the list is:", find_max_number(my_list))
# Home work to tommorow

The maximum number in the list is: 9

In [ ]:
# Write a program to print even numbers from 0 to 10
i = 0
while(i<=10):
    print(i)
    i = i+2

0
2
4
6
8
10

In [ ]:
# Write a program to print even numbers from 1 to 10
i = 1
while(i<=10):
    print(i)
    i = i+2

1
3
5
7
9

In [ ]:
# Write a program to find the sum of natural numbers
a = int(input('Please Enter a Number' , ))
i = 1
sum = 0
while(i<=a):
    sum = sum + i
    i = i+1
    print(sum)

Please Enter a Number2
1
3

In [ ]:
# break statement we can stop the loop even if the while condition is
b = 12
while b<20:
    print(b)
    if b == 14:
        break
    b += 1

12
13
14

In [ ]:
s = 1
while s < 10:
    s += 1
    if s == 5:
     continue
    elif s == 8:
     continue
    print(s)

2
3
4
6
7
9
10

In [ ]:
l = ['a' , 'b', 'c' , 'd']
for d in l :
    print(d)

a
b
c
d

In [ ]:
for d in 'AAFT':
    print(d)

A
A
F
T

In [ ]:
l1 = ['A','B','C','D']
for d in l:
    print(d)
    if d == 'c':
        break

a
b
c

In [ ]:
l1 = ['A','B','C','D']
for d in l:
    print(d)
    if d == 'c':
        continue

a
b
c
d

In [ ]:
for d in range (10):
    print(d)

0
1
2
3
4
5
6
7
8
9

In [ ]:
d = 69
while d < 1:
    s -1
    print(d)

In [ ]:
# WAP to find factorial of any number
a = int(input('Please enter a number' , ))
i = 1
fact=1
for i in range(1,a+1):
   fact = fact*i
print(fact)

Please enter a number5
120

In [ ]:
# ex. 1
f = ['apple' , 'custurdapple' , 'watermelon' , 'pineapple']
for fr in f:
  print(fr)

apple
custurdapple
watermelon
pineapple

In [ ]:
# ex.2
for a in range(10):
  print(a)

0
1
2
3
4
5
6
7
8
9

In [ ]:
for b in 'UTTARAKHAND':
  print(b)

U
T
T
A
R
A
K
H
A
N
D

In [ ]:
# Even Numbers Between 1 to 100
i = 0
for i in  range(1,100):
  if i%2==0:
    print(i)
  else:
    pass

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98

In [ ]:
# WAP THAT PRINTS ALL EVEN NUMBERS FROM 1 TO 20 USING A FOR LOOP

i = 0
for i in  range(1,20):
  if i%2==0:
    print(i)
  else:
    pass

2
4
6
8
10
12
14
16
18

In [ ]:
# WAP TO FIND THE MAXIMUM NUMBER IN A LIST USING FOR LOOP

numbers = [4, 2, 91, 6, 5, 8, 3, 7,10]
m = numbers[0]
for n in numbers:
    if n > m:
        m = n

print("The maximum number is:", m)

The maximum number is: 91

In [ ]:
for d in range(1,10):
    print(d)

1
2
3
4
5
6
7
8
9
1
2
3
4
5
6
7
8
9