In [1]:
n = [1 , 2 , 3 , 4 , 5 , 4]
n.remove(4)
print(n)

[1, 2, 3, 5, 4]

In [6]:
n = [1 , 2 , 3 , 4 , 5 , 4]
n.pop()

print(n)

[1, 2, 3, 4, 5]

In [8]:
n = [1 , 2 , 3 , 4 , 5 , 4]
n.pop(-4)
print(n)

[1, 2, 4, 5, 4]

In [14]:
n = ['Dhruv' ,  'akash' , 'sanchay' , 'sahil' , 'golu' , 'samay' , 'gotham' , 'magnus']
del n[7]
print(n)

['Dhruv', 'akash', 'sanchay', 'sahil', 'golu', 'samay', 'gotham']

In [18]:
n = ['Dhruv' ,  'akash' , 'sanchay' , 'sahil' , 'golu' , 'samay' , 'gotham' , 'magnus']
n.clear()
print(n)

[]

In [22]:
course = ['Python' , 'SQL' , 'Stats' , 'DS']
# Add element "BI" on different methods
course.insert( 0, 'BI')
print(course)

['BI', 'Python', 'SQL', 'Stats', 'DS']

In [24]:
course = ['Python' , 'SQL' , 'Stats' , 'DS']
course.append('BI')
print(course)

['Python', 'SQL', 'Stats', 'DS', 'BI']

In [28]:
course = ['Python' , 'SQL' , 'Stats' , 'DS']
course.extend(['BI'])
print(course)

['Python', 'SQL', 'Stats', 'DS', 'BI']

In [30]:
company = [ 'tcs' , 'infosys' , 'microsoft' , 'google' , 1 , 2 , 3 , 4 , 5, ]
company.pop(-1)
print(company)

['tcs', 'infosys', 'microsoft', 'google', 1, 2, 3, 4]

In [40]:
company = [ 'tcs' , 'infosys' , 'microsoft' , 'google' , 1 , 2 , 3 , 4 , 5, ]
company.remove(1)
print(company)

['tcs', 'infosys', 'microsoft', 'google', 2, 3, 4, 5]

In [41]:
company = [ 'tcs' , 'infosys' , 'microsoft' , 'google' , 1 , 2 , 3 , 4 , 5, ]
del company[1]
print(company)

['tcs', 'microsoft', 'google', 1, 2, 3, 4, 5]

In [43]:
company = [ 'tcs' , 'infosys' , 'microsoft' , 'google' , 1 , 2 , 3 , 4 , 5, ]
company.clear()
print(company)

[]