In [ ]:
a = "Dhruv , Bsc data science "
print(len(a))

25

In [ ]:
a = "Dhruv , Bsc data science "
print(a[4])

v

In [ ]:
b = 'the vest things in life are free'
print('free'in b)
print('best'in b)

True
False

In [ ]:
c = 'hello world          '
print(c[2:4])

ll

In [ ]:

print(c[:5])
print(c[6:11])
print(c[-6:])
print(c[:])

hello
world
 world
hello world

In [ ]:
print(c.upper())
# if you need the string to be in upper case

HELLO WORLD

In [ ]:
d = "HELLO WORLD"
print(d.lower())
# if you need the string to be in lower case

hello world

In [ ]:
print(c.strip())
# it removes the extra space from both sides

hello world

In [ ]:
e  = 'hello , hemant'
print(e.replace("h" , 'd'))

dello , demant

In [ ]:
print(e.split(" , "))

['hello', 'hemant']

In [ ]:
  a = 'Hello'
  b =  'World'

  c = a + b
  print(d)
  d = a + ' ' + b

Hello World

In [ ]:
age  = 18
e =  "My name is Dhruv , I am " + age
print(e)

TypeError: can only concatenate str (not "int") to str

In [ ]:
age  = 18
e =  f"My name is Dhruv , I am {age}"
print(e)

My name is Dhruv , I am 18

In [ ]:
price = 100
g = f"The price is {price} rupees"
print(g)

The price is 100 rupees

In [ ]:
price = 100
g = f"The price is {price:.2f} rupees"
print(g)

The price is 100.00 rupees

In [ ]:
h = f"the price is {20*69} rupees"
print(h)

the price is 1380 rupees

In [ ]:
 k = 'hello Dhruv here , i am from uttarakhand'
 r = k.capitalize() # It capitalize the first letter upper case in the sentence
 print(r)

Hello dhruv here , i am from uttarakhand

In [ ]:
 k = 'hello Dhruv here , i am from uttarakhand'
 m = k.title()  # It turns first letter of each word in upper case
 print(m)

Hello Dhruv Here , I Am From Uttarakhand

In [ ]:
q = "I love apples, apple are my favorite fruit , apples are very rich in nutritions"
w = q.count("apple")
print(w)

3

In [ ]:
 op = 'i am dhruv i am from uttarakhand i like to climb in tree and i also like to play with my cows i love my cows we have 4 cows in my villege almost everyone have cows in my area cows only eat green grass not plastic like citys cow '
 cow = op.count('cow') #  It shows how many times that word repeated in the string
 print(cow)

6

In [ ]:
txt  = 'I love apples, apple are my favorite fruit'
c = txt.count("apple", 7, 24) # It counts the string you gave him inside those indexes
print(c)

2

In [ ]:
k =  'hello , welcome to my world'
h = k.find('welcome') # It shows the index of the first letter of the string you gave him
print(h)

8

In [ ]:
k =  'hello , welcome to my world'
p = k.index('welcome')
print(p)

8

In [ ]:
t = ('ayu', 'raju' , 'avi')
y = "  ".join(t)
print(y)

ayu  raju  avi

In [ ]:
# This query separates the everything before match the match everythig after match
q = "I love apple, apple are my favorite fruit , apples are very rich in nutritions"
w = q.partition('apple')
print(w)

('I love ', 'apple', ', apple are my favorite fruit , apples are very rich in nutritions')

In [ ]:
# This function split a string into list and separate each word
v = 'Welcome to Devbhoomi Uttarakhand'
u = v.split()
print(u)

['Welcome', 'to', 'Devbhoomi', 'Uttarakhand']

In [ ]:
l = q.split(" , ")
print(l)

['I love apple, apple are my favorite fruit , apples are very rich in nutritions']

In [ ]:
b = 'apple#banana#cherry#orange#custardapple#walnut'
d = b.split('#')
print(d)

['apple', 'banana', 'cherry', 'orange', 'custardapple', 'walnut']