In [5]:
# Tuple items are ordered unchangeable and allow duplicate values and they are immutable

In [6]:
t = ( 1 , 2, 2, 3, 4, 5, 6, 6)
print(type(t))
print(len(t))
t1 = ( 1 , 2  , 'a' , 'b' , True)
print(type(t1))

<class 'tuple'>
8
<class 'tuple'>

In [7]:
# When we need only need single element in tuple we just add s comma
t = ('bharat' , )
print(type(t))

<class 'tuple'>

In [11]:
t = ( 1 , 2, 2, 3, 4, 5, 6, 6)
t[3:]

(3, 4, 5, 6, 6)

In [12]:
t = ( 1 , 2, 2, 3, 4, 5, 6, 6)
t [-5:]

(3, 4, 5, 6, 6)

In [17]:
t = ( 1 , 2, 2, 3, 4, 5, 6, 6)
t

(1, 2, 2, 3, 4, 5, 6, 6)

In [18]:
t[:-2]

(1, 2, 2, 3, 4, 5)

In [31]:
# How to change a tuple 
t1 = ('a' , 'b' , 'c',  'd')
print(type(a))

<class 'tuple'>

In [32]:
l1 = list(t1)
print(l1)
print(type(l1))

['a', 'b', 'c', 'd']
<class 'list'>

In [33]:
l1.insert(3,'f')
print(l1)

['a', 'b', 'c', 'f', 'd']

In [34]:
t1 = tuple(l1)
print(t1)
print(type(t1))

('a', 'b', 'c', 'f', 'd')
<class 'tuple'>

In [36]:
t1 = list(t1)

In [37]:
print(type(t1))

<class 'list'>

In [40]:
# Adding Tuple To Tuple

t1.append("Love you Python")

In [39]:
print(t1)

['a', 'b', 'c', 'f', 'd', 'Love you Python']

In [44]:
# Deleting the whole tuple

del t1

NameError: name 't1' is not defined

In [1]:
# this multiplies the data of a tuple
ac = ( 1, 2, 3, 'ram', 'shyam' ,  'radha') 
s = ac * 2 
print(s)

(1, 2, 3, 'ram', 'shyam', 'radha', 1, 2, 3, 'ram', 'shyam', 'radha')

In [2]:
m = ac * 5 
print(m)

(1, 2, 3, 'ram', 'shyam', 'radha', 1, 2, 3, 'ram', 'shyam', 'radha', 1, 2, 3, 'ram', 'shyam', 'radha', 1, 2, 3, 'ram', 'shyam', 'radha', 1, 2, 3, 'ram', 'shyam', 'radha')

In [3]:
# The count() method returns the number of times a specified value appears in the tuple
the  = ( 1, 2, 3, 4, 5, 6, 7, 8 , 2, 2, 4 ,3, 2)
of = the.count(2)
of

4

In [5]:
# this index() method finds the first occurrence of the specified  value
the  = ( 1, 2, 3, 4, 5, 6, 7, 8 , 2, 2, 4 ,3, 2)
no = the.index(8)
no

7